:root {
  background: #282c34;
}

.App {
  text-align: center;
}


/* content */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px 1fr 100px;
  min-width: 100%;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer"
  ;
}

@media (width < 500px) {
  .container {
    grid-template-areas:
      "header header header"
      "content  content  content"
      "footer footer footer"
    ;

  }

  aside {
    /* overflow: scroll; */

  }

  main {
    overflow: hidden;
  }

  .reduce {
    overflow: hidden;
  }




}

.container header {
  background: #ddd;
  grid-area: header;
}

.container aside {
background: #282c34;
  grid-area: sidebar;

}

.container main {
  grid-area: content;
}

.container footer {
  grid-area: footer;
}